-- Migration: Fix RLS policies for bookings to work with admin panel
-- Date: 2025-12-25
-- Issue: "new row violates RLS policy for table bookings"

-- =====================================================
-- OPTION 1: If you want to test WITHOUT authentication
-- (DEVELOPMENT ONLY - Remove in production!)
-- =====================================================

-- Uncomment these lines for development testing:
-- DROP POLICY IF EXISTS "Allow all inserts for development" ON public.bookings;
-- CREATE POLICY "Allow all inserts for development" 
-- ON public.bookings FOR INSERT 
-- TO anon, authenticated
-- WITH CHECK (true);


-- =====================================================
-- OPTION 2: Fix the admin policies (RECOMMENDED)
-- =====================================================

-- First, let's ensure we drop any conflicting policies
DROP POLICY IF EXISTS "Admins can create bookings for users" ON public.bookings;
DROP POLICY IF EXISTS "Admins can insert bookings" ON public.bookings;

-- Create a more permissive admin INSERT policy
-- This allows admins to create bookings for ANY user_id
CREATE POLICY "Admins can create bookings for any user"
ON public.bookings FOR INSERT
TO authenticated
WITH CHECK (
  public.has_role(auth.uid(), 'admin')
);

-- Also ensure admins can view all bookings
DROP POLICY IF EXISTS "Admins can view all bookings" ON public.bookings;
CREATE POLICY "Admins can view all bookings"
ON public.bookings FOR SELECT
TO authenticated
USING (
  auth.uid() = user_id OR 
  public.has_role(auth.uid(), 'admin')
);

-- Ensure admins can update all bookings
DROP POLICY IF EXISTS "Admins can update all bookings" ON public.bookings;
CREATE POLICY "Admins can update all bookings"
ON public.bookings FOR UPDATE
TO authenticated
USING (
  auth.uid() = user_id OR 
  public.has_role(auth.uid(), 'admin')
);

-- Ensure admins can delete bookings if needed
DROP POLICY IF EXISTS "Admins can delete bookings" ON public.bookings;
CREATE POLICY "Admins can delete bookings"
ON public.bookings FOR DELETE
TO authenticated
USING (public.has_role(auth.uid(), 'admin'));


-- =====================================================
-- VERIFY has_role FUNCTION EXISTS
-- =====================================================

-- Recreate the has_role function to ensure it exists
CREATE OR REPLACE FUNCTION public.has_role(_user_id UUID, _role app_role)
RETURNS BOOLEAN
LANGUAGE SQL
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;


-- =====================================================
-- CREATE ADMIN USER (Run this manually with your user_id)
-- =====================================================

-- To make yourself an admin, run this in Supabase SQL Editor:
-- 
-- INSERT INTO public.user_roles (user_id, role)
-- VALUES ('YOUR-USER-UUID-HERE', 'admin')
-- ON CONFLICT (user_id, role) DO NOTHING;
--
-- To find your user_id, check the auth.users table or 
-- look at the profile in the profiles table


-- =====================================================
-- HELPER: View current admin users
-- =====================================================

-- Run this to see who is an admin:
-- SELECT ur.user_id, p.full_name, p.email, p.phone, ur.role
-- FROM public.user_roles ur
-- LEFT JOIN public.profiles p ON p.user_id = ur.user_id
-- WHERE ur.role = 'admin';


-- =====================================================
-- PROFILES TABLE - Allow admin to create profiles
-- =====================================================

-- Allow admins to insert profiles (for walk-in customers)
DROP POLICY IF EXISTS "Admins can insert profiles" ON public.profiles;
CREATE POLICY "Admins can insert profiles"
ON public.profiles FOR INSERT
TO authenticated
WITH CHECK (
  auth.uid() = user_id OR
  public.has_role(auth.uid(), 'admin')
);

-- Allow users to update their own profile OR admins to update any
DROP POLICY IF EXISTS "Users can update their own profile" ON public.profiles;
DROP POLICY IF EXISTS "Admins can update profiles" ON public.profiles;
CREATE POLICY "Users or admins can update profiles"
ON public.profiles FOR UPDATE
TO authenticated
USING (
  auth.uid() = user_id OR 
  public.has_role(auth.uid(), 'admin')
);


-- =====================================================
-- BOOKING_ITEMS - Allow admin to insert
-- =====================================================

DROP POLICY IF EXISTS "Admins can insert booking items" ON public.booking_items;
CREATE POLICY "Admins can insert booking items"
ON public.booking_items FOR INSERT
TO authenticated
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.bookings 
    WHERE id = booking_items.booking_id 
    AND user_id = auth.uid()
  )
  OR
  public.has_role(auth.uid(), 'admin')
);

DROP POLICY IF EXISTS "Admins can view all booking items" ON public.booking_items;
CREATE POLICY "Admins can view all booking items"
ON public.booking_items FOR SELECT
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.bookings 
    WHERE id = booking_items.booking_id 
    AND user_id = auth.uid()
  )
  OR
  public.has_role(auth.uid(), 'admin')
);

