-- Migration: Add columns for real-time tracking and notifications
-- Date: 2025-12-25
-- Description: Adds timestamps for booking lifecycle and FCM tokens for push notifications

-- =====================================================
-- BOOKINGS TABLE - Add lifecycle timestamps
-- =====================================================

-- Add assigned_at timestamp (when technician is assigned)
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS assigned_at TIMESTAMP WITH TIME ZONE;

-- Add accepted_at timestamp (when technician accepts the job)
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS accepted_at TIMESTAMP WITH TIME ZONE;

-- Add started_at timestamp (when technician starts the work)
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS started_at TIMESTAMP WITH TIME ZONE;

-- Add completed_at timestamp (when job is completed)
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS completed_at TIMESTAMP WITH TIME ZONE;

-- Add cancelled_at timestamp (if booking is cancelled)
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS cancelled_at TIMESTAMP WITH TIME ZONE;

-- Add notes field for technician/admin notes
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS notes TEXT;


-- =====================================================
-- TECHNICIANS TABLE - Add real-time tracking fields
-- =====================================================

-- Add FCM token for push notifications
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS fcm_token VARCHAR(255);

-- Add is_available boolean for quick availability check
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS is_available BOOLEAN DEFAULT TRUE;

-- Add is_active boolean to soft-delete technicians
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT TRUE;

-- Add current location for live tracking (optional)
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS current_location JSONB;

-- Add last location update timestamp
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS last_location_update TIMESTAMP WITH TIME ZONE;

-- Add user_id to link technician to auth user (for app login)
ALTER TABLE public.technicians
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id);


-- =====================================================
-- PROFILES TABLE - Add FCM token for customer notifications
-- =====================================================

ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS fcm_token VARCHAR(255);


-- =====================================================
-- ACTIVITY LOGS TABLE - Create if not exists
-- =====================================================

CREATE TABLE IF NOT EXISTS public.activity_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_type VARCHAR(20) NOT NULL, -- 'admin', 'technician', 'customer'
  user_id UUID NOT NULL,
  action VARCHAR(100) NOT NULL,
  entity_type VARCHAR(50), -- 'booking', 'technician', 'service', etc.
  entity_id UUID,
  details JSONB,
  ip_address VARCHAR(45),
  user_agent TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS on activity_logs
ALTER TABLE public.activity_logs ENABLE ROW LEVEL SECURITY;

-- Policy: Admins can view all activity logs
CREATE POLICY "Admins can view all activity logs"
ON public.activity_logs FOR SELECT
TO authenticated
USING (public.has_role(auth.uid(), 'admin'));

-- Policy: Admins can insert activity logs
CREATE POLICY "Admins can insert activity logs"
ON public.activity_logs FOR INSERT
TO authenticated
WITH CHECK (true);


-- =====================================================
-- ENABLE SUPABASE REALTIME
-- =====================================================

-- Enable realtime for bookings table (for admin panel notifications)
ALTER PUBLICATION supabase_realtime ADD TABLE bookings;

-- Enable realtime for technicians table (for availability updates)
ALTER PUBLICATION supabase_realtime ADD TABLE technicians;


-- =====================================================
-- CREATE INDEXES FOR BETTER QUERY PERFORMANCE
-- =====================================================

-- Index for filtering bookings by status
CREATE INDEX IF NOT EXISTS idx_bookings_status ON public.bookings(status);

-- Index for filtering bookings by technician
CREATE INDEX IF NOT EXISTS idx_bookings_technician_id ON public.bookings(technician_id);

-- Index for filtering bookings by date
CREATE INDEX IF NOT EXISTS idx_bookings_booking_date ON public.bookings(booking_date);

-- Index for technician availability
CREATE INDEX IF NOT EXISTS idx_technicians_is_available ON public.technicians(is_available);

-- Index for technician active status
CREATE INDEX IF NOT EXISTS idx_technicians_is_active ON public.technicians(is_active);

-- Index for activity logs
CREATE INDEX IF NOT EXISTS idx_activity_logs_user_id ON public.activity_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_activity_logs_entity_id ON public.activity_logs(entity_id);
CREATE INDEX IF NOT EXISTS idx_activity_logs_created_at ON public.activity_logs(created_at);


-- =====================================================
-- ADD COMMENT FOR DOCUMENTATION
-- =====================================================

COMMENT ON COLUMN public.bookings.assigned_at IS 'Timestamp when a technician was assigned to this booking';
COMMENT ON COLUMN public.bookings.accepted_at IS 'Timestamp when the technician accepted the job';
COMMENT ON COLUMN public.bookings.started_at IS 'Timestamp when the technician started the work';
COMMENT ON COLUMN public.bookings.completed_at IS 'Timestamp when the job was completed';
COMMENT ON COLUMN public.bookings.cancelled_at IS 'Timestamp when the booking was cancelled';

COMMENT ON COLUMN public.technicians.fcm_token IS 'Firebase Cloud Messaging token for push notifications';
COMMENT ON COLUMN public.technicians.is_available IS 'Quick flag to check if technician is available for new jobs';
COMMENT ON COLUMN public.technicians.current_location IS 'Current GPS location as {lat, lng, accuracy}';
COMMENT ON COLUMN public.technicians.user_id IS 'Links to auth.users for technician app login';

