-- Migration: Add service_address column to bookings table
-- Date: 2025-12-25
-- Description: Adds service address field for booking location details

-- =====================================================
-- BOOKINGS TABLE - Add service_address column
-- =====================================================

-- Add service_address column to store the service location
-- Format: "Flat/Apt No, Building Name, Street/Area, Landmark, Pincode: XXXXXX"
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS service_address TEXT;

-- Add comment for documentation
COMMENT ON COLUMN public.bookings.service_address IS 'Full service address including flat no, building, street, landmark, and pincode';

-- Create an index for searching by address (optional, for future search functionality)
CREATE INDEX IF NOT EXISTS idx_bookings_service_address ON public.bookings USING gin(to_tsvector('english', service_address));

